services:
  techdoro-builder:
    container_name: techdoro-builder
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./out:/app/out:Z
      - techdoro:/app/node_modules:Z
    networks:
      - local
    deploy:
      resources:
        limits:
          memory: 4G
          cpus: "4"
        reservations:
          memory: 2G
          cpus: "2"

networks:
  local:
    driver: bridge

volumes:
  techdoro: