@font-face {
    font-family: 'Press Start 2P';
    src: url('./app/assets/PressStart2P-Regular.ttf') format('truetype');
}

:root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --foreground-strong: #ffffff;
    --foreground-em: #ffffff;
    --scrollbar-track: transparent;
    --scrollbar-thumb: rgba(237, 237, 237, 0.18);
    --scrollbar-thumb-hover: rgba(237, 237, 237, 0.28);
    --scrollbar-thumb-active: rgba(237, 237, 237, 0.38);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    user-select: none;
    -webkit-appearance: none;
    appearance: none;
}

body {
    font-family: 'Press Start 2P';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    height: 100dvh;
    min-height: 100dvh;
    max-height: 100dvh;

    width: 100dvw;
    min-width: 100dvw;
    max-width: 100dvw;

    background-color: #1c1c1c;
    color: #ffffff;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #3c3c3c;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}